[general]
server_name = "WalkersGuide"
debug = no
status_email = status@example.com
support_email = support@example.com

[database]
host_name = 127.0.0.1
port = 5432
user = USER
password = PASSWORD

[webserver]
host_name = 127.0.0.1
port = 34567
thread_pool = 10

[java]
ram_in_gb = 16
osm2po_executable = /path/to/tools/osm2po-x.x.x/osm2po-core-x.x.x-signed.jar

[email]
host_name = smtp.example.org
port = 587
user = User
password = PASSWORD


### maps ###
[maps]

[[germany]]
name = Germany
description = Map of Germany
# url or list of urls, separated by ,
urls = https://download.geofabrik.de/europe/germany-latest.osm.pbf

