[general]
server_name = "WalkersGuide"
debug = no
status_email = status@example.com
support_email = support@example.com

[database]
host_name = 127.0.0.1
port = 5432
user = USER
password = PASSWORD

[webserver]
host_name = 127.0.0.1
port = 34567
thread_pool = 10

[java]
ram_in_gb = 16
osm2po_executable = /path/to/tools/osm2po-x.x.x/osm2po-core-x.x.x-signed.jar

[email]
host_name = smtp.example.org
port = 587
user = User
password = PASSWORD


### maps ###
[maps]

[[germany]]
# name (no comma char allowed)
name = Germany
# description:
#   either: description = Single line without "comma" char
#   or:     description = """A description with a , and something else"""
#   or:     description = """Something too long
#                         for a single line"""
description = Map of Germany
# urls:
#   either: urls = url1
#   or:     urls = url1, url2
#   or:     urls = """
#                  url1
#                  url2
#                  """
urls = https://download.geofabrik.de/europe/germany-latest.osm.pbf

