#!/bin/bash

# settings
# specify folders
root_folder="/data/routing"
tools_folder="$root_folder/tools"
working_folder="$root_folder/WalkersGuide-Server"
log_folder="$working_folder/logs"
maps_folder="$working_folder/maps"
sql_files_folder="$working_folder/sql_functions"
temp_folder="$working_folder/tmp"

# some helper programs
osmfilter_file="$tools_folder/osmfilter"
osmconvert_file="$tools_folder/osmconvert"
osmosis_folder="$tools_folder/osmosis"
osmosis_file="$osmosis_folder/bin/osmosis"
osm2po_folder="$tools_folder/osm2po"
osm2po_file="$osm2po_folder/osm2po-core-5.0.0-signed.jar"
osm2po_config="$osm2po_folder/osm2po.config"

# logs
log_file="$log_folder/osm_database_wrapper.log"
temp_log_file="/tmp/osm_database_wrapper.log"
lock_file="/tmp/osm_database_wrapper.lock"

# OSM database data
# database names
db_active_name="osm_europe"
db_tmp_name="osm_tmp_europe"
db_backup_name="osm_backup_europe"
db_raw_name="osm_raw_europe"
db_prefix="eu"
# next is the database server address, mostly the Postgresql database server is at the same machine
# like the rest, so it can be unchanged
server_address="127.0.0.1"
server_port=5432
user_name="wgs_writer"
password=""
# don't delete next line, otherwise database access isn't possible
export PGPASSWORD=$password

# map settings
# map of Europe
# mostly you only have to change the two URL's
download_map_url="http://download.geofabrik.de/europe-latest.osm.pbf"
update_map_url="http://download.geofabrik.de/europe-updates/"
download_state_file_url=$update_map_url"state.txt"
pbf_osm_file="$maps_folder/map.osm.pbf"
o5m_osm_file="$maps_folder/map.o5m"
map_state_file="$maps_folder/state.txt"
productive_db_map_state_file="$map_state_file.productive"
dumped_tables_file="$temp_folder/$db_active_name.tabledump"
# the next parameter controls, how many map updates are processed at one update command call
# for smaller maps, a value like 5 is recommended but for bigger ones, where one update can last 3
# hours, you may want to limit that to 2.
# It's important to choose a value greater than 1, otherwise you won't regain missed updates,
# stuck at an older map version and never reach the latest state again
number_of_map_updates=2

# Java options
ram="16G"
export JAVACMD_OPTIONS="-server -Xmx$ram -Djava.io.tmpdir=$temp_folder"

# remote server
# if you don't want to calculate the OSM database at your productive server, this settings must be filled
# this could be useful cause the database creation can last days if you import a big map like Europe
# during the creation process the server is slowed down and the route creation is much slower
# so it's possible to calculate the new database at a second server and transfer it to the
# productive one, when ready.
#
# if you want to use this feature and this is the configuration for the calculation server, enter
# the host address of the productive server
# if you don't want to use that or this config file is for the productive server, leave the server
# host blank
remote_host=""
remote_port=0
# this is the ssh user name
remote_user=""
# you also must transfer a ssh key to the productive server for non-interactive authentication
remote_identity_keyfile="$HOME/.ssh/private_key_file"
# don't change the following
remote_ssh_options="-i $remote_identity_keyfile -p $remote_port"
remote_ssh_destination="$remote_user@$remote_host"
remote_full_ssh_command="ssh $remote_ssh_options $remote_ssh_destination"
# specify the location of the WalkersGuide-Server instance at the productive server
# for example it could be the same as the local one
remote_root_path="$working_folder"
remote_script_path="$remote_root_path/scripts"
remote_tmp_path="$remote_root_path/tmp"
# maximum upload speed in kb/s, 0 = unlimited
max_upload_speed=0

# mail settings
# the system wide "mail" command must be configured to send status mails
sender_mail_address="sender@example.org"
recipient_mail_address="recipient@example.org"
